@import "app/App.scss";

.paramTable {
  overflow-y: auto;
  width: 60%;
  padding: 10px;
  max-height: 150px;
  font-family: Poppins;
  font-weight: lighter;
}

.paramTableLabel {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  font-weight: normal;
}

.dialogParamInput {
  color: white;
  background-color: transparent;
  text-align: center;
  border: none;
  max-width: 50%;
  height: 100%;
}
