.dialogTitle {
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  text-align: center;
  color: #bdc1c5;
  padding-bottom: 0.5em;
  border-bottom: 3px solid #313b49;
  width: 100%;
}

.dialogButton {
  border-radius: 15px;
  background-color: #313b49;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1.5px;
}
