@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.landing-page {
  width: 100%;
  height: 100%;
  text-align: center;
}

.landing-page svg {
  height: 50vh;
}

.head {
  margin: 3vw 27vw 15vh 6vw;
  padding: 0;
}

.fish-bowl {
  max-width: 90%;
}

.landing-page h1 {
  margin: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 10;
  font-size: 36px;
  line-height: 40px;
  text-align: right;
  text-transform: capitalize;
  color: #000000;
}

.landing-page h2 {
  margin: 0;
  margin-left: 150px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 24px;
  text-align: right;
  text-transform: lowercase;
  color: #757575;
}
